body {
    margin: 0;
    padding: 0;
    font-family: "Archivo Narrow", sans-serif;
    background: #0E0F11;
}
body.no-scroll {
    overflow: hidden;
}
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.df {
    display: flex;
}

.dn {
    display: none;
}
.f-column{
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-spc-btw {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.t-center {
    text-align: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.j-end{
    justify-content: flex-end;
}

input {
    outline: none;
    border: none;
    box-shadow: none;
    font-family: Roboto, sans-serif;
}

header{
    background: #0E0F11;
    display: flex;
    width: 100%;
    height: 100px;
}
.header__logo{
    width: 145px;
    position: absolute;
    left: 0;
    top: 10px;
}
.header__logo img{

}
.nav{
    width: 100%;
    height: 100%;
}
.nav__content{
    height: 100%;
    position: relative;
}
.header__socials{
    margin-left: auto;
    gap: 13px;
}
.header__socials--link{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1F26;
    border-radius: 8px;
}
.menu{
    margin-left: 195px;
    gap: 40px;
}
.menu__link{
    color: #A3A3A3;
    font-size: 18px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    transition: all .3s;
}
.menu__item--active .menu__link, .menu__link:hover {
    color: #fff;
}
.banner{
    background: url('../images/banner.png') no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 0;
}
.banner__content{
    position: relative;

}
.banner__left{
    padding-top: 143px;
    max-width: 731px;
    width: 100%;
    padding-bottom: 112px;
}
.banner__title{
    font-family: Archivo, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
}
.banner__text{
    font-family: Archivo Narrow,  sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    max-width: 600px;
    width: 100%;
    color: #c4c4c4;
    margin-bottom: 74px;

}
.banner__actions{
    gap: 30px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Archivo Narrow, sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border: none;
    background: transparent;
}
.btn__white{
    width: 279px;
    height: 74px;
    padding: 25px 50px;
    background: #f2f2f2;
    color: #0e0f11;
}
.btn__outline{
    width: 279px;
    height: 74px;
    padding: 25px 50px;
    background: rgba(66, 66, 67, 0.699999988079071);
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
}
.banner__right{
    position: absolute;
    bottom: -15px;
    right: -60px;
    display: flex;
    align-items: flex-end;
}
section{
    padding-top: 120px;
}
.status{
    padding-top: 110px;
}
.section__title{
    font-family: Archivo, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: #ffffff;
}
.status__list{
    margin-top: 40px;
    gap: 20px;
}
.status__item{
    width: calc(100%/3 - 10px);
    background: #15171B;
    border-radius: 8px;
    padding: 60px 40px;
}
.status__icon{
    margin-bottom: 30px;
}
.status__title{
    font-family: Archivo Narrow, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;

    color: #e6e6e6;
    margin-bottom: 10px;
}
.status__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #c4c4c4;
}
.about{
    padding-top: 120px;

}
.about__left{
    max-width: 732px;
    width: 100%;
}
.about__right{
    max-width: calc(100% - 782px);
    padding-top: 20px;
}
.about__right .btn__white{
    width: 251px;
}
.about__content{
    gap: 50px;
}
.about__banner{
    margin-top: 20px;
    border-radius: 8px;
    background: #15171b;
    width: fit-content;
    padding: 15px 25px 15px 15px;
    align-items: center;
    gap: 13px;
    margin-bottom: 20px;
}
.about__banner--icon{
    width: 52px;
    height: 52px;
    border-radius: 8px;
    background: #0e0f11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__banner--text h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #e6e6e6;
}
.about__banner--text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;

    color: #c4c4c4;
    opacity: 0.5;
}
.section__text{
    color: #C4C4C4;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}
.section__text strong{
    color: #E6E6E6;
    font-weight: 700;
}
.about__right .btn__white{
    margin-top: 50px;
    font-weight: 500;
}
.tradition__list{
    gap: 20px;
    margin-top: 40px;
    padding-bottom: 80px;
}
.tradition__item{
    background: url('../images/t-bg.png') no-repeat;
    height: 419px;
    width: 100%;
    padding: 60px 40px;
    position: relative;

}
.tradition__item img{
    position: absolute;
    right: 0;
    bottom: -87px;
}
.tradition__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: left;
    color: #e6e6e6;
    margin-bottom: 8px;
    font-family: Archivo, sans-serif;
}
.tradition__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #c4c4c4;
}
.commander{
    padding-top: 120px;
}
.commander__content{
    background: #15171B;
    padding: 50px 50px 50px 0;
    min-height: 568px;
    height: auto;
    width: calc(100% - 40px);
    margin-left: auto;
    border-radius: 8px;
}
.commander__left{
    width: 650px;
    position: relative;
}
.commander__left img{
    position: absolute;
    left: -40px;
}

.commander__right{
    width: calc(100% - 650px);
    padding-top: 30px;
}
.commander__sub{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    color: #e6e6e6;
    margin-top: 10px;
    margin-bottom: 20px;
}
.commander__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #c4c4c4;
    margin-bottom: 30px;
}
.commander__audio{
    height: 82px;
    padding: 15px;
    background: #1C1F26;
    border-radius: 8px;
    gap: 15px;
    width: fit-content;
}
.commander__audio--play{
    width: 52px;
    height: 52px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0E0F11;
}
.commander__audio--sound{
    width: calc(100% - 65px);
}
.directions{
    padding-top: 160px;
}
.direction__list{
    gap: 20px;
}
.directions .section__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    text-align: left;

    color: #c4c4c4;
    margin-top: 8px;
    margin-bottom: 40px;
}
.direction__item{
    width: calc(100%/3 - 14px);
    height: 458px;
    background: url('../images/d1.png') no-repeat;
    background-size: cover;
    padding: 30px 50px 30px 30px;
}
.direction__item:nth-child(2){
    background: url('../images/d2.png') no-repeat;
    background-size: cover;
}
.direction__item:nth-child(3){
    background: url('../images/d3.png') no-repeat;
    background-size: cover;
}
.direction__item:nth-child(4){
    background: url('../images/d4.png') no-repeat;
    background-size: cover;
}
.direction__item:nth-child(5){
    background: url('../images/d6.png') no-repeat;
    background-size: cover;
}
.direction__item:nth-child(6){
    background: url('../images/d5.png') no-repeat;
    background-size: cover;
}
.direction__title{
    font-family: Archivo, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: #e6e6e6;
    transition: all .3s;
    padding: 8px 15px;

    background: rgba(28, 31, 38, 0.6000000238418579);
    backdrop-filter: blur(0px);
    width: fit-content;
    border-radius: 8px;
}
.direction__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
    display: none;
    color: #c4c4c4;
    transition: all .3s;
}
.direction__item:hover .direction__text{
    display: flex;
}
.become__list{
    margin-top: 40px;
    gap: 20px;
}
.become__item{
    width: calc(100%/4 - 10px);
    background: #15171B;
    border-radius: 8px;
    min-height: 224px;
}
.become__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
    color: #e6e6e6;
    margin-top: 20px;
}
.gallery__list{
    gap: 20px;
    width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}

.gallery__list:first-child{
    margin-bottom: 20px;
}
.socials{
    padding-top: 177px;
}
.socials__content{
    background: #1C1F26;
    border-radius: 8px;
    padding: 70px 54px 0 70px;
    position: relative;
    min-height: 460px;
}
.socials__left{
    max-width: 650px;
}
.socials__left .section__title{
    margin-bottom: 16px;
}
.socials__left .section__text{
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;

    color: #c4c4c4;

}
.section__actions{
    gap: 20px;
}
.section__actions .btn__white{
    height: 69px;
    min-width: 247px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    gap: 10px;
    color: #000000;
}
.section__actions .btn__white:first-child{
    width: 247px;
}
.section__actions .btn__white:last-child{
    width: 265px;
}
.socials__right{
    position: absolute;
    right: 57px;
    bottom: 0;
}
.news__list{
    margin-top: 40px;
    gap: 20px;

}
.news__img{
    position: relative;
    height: 340px;
}
.news__img img{
    height: 100%;
    object-fit: cover;
}
.news__logo{
    position: absolute;
    top: 22px;
    left: 23px;
}
.news__item{
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
}
.news__content{
    padding: 20px 20px 30px;
    background: #15171B;
}
.news__title{
    font-family: Archivo, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 8px;
    color: #e6e6e6;

}
.news__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #c4c4c4;
    margin-bottom: 20px;
}
.news__date{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #6d6d6d;
}
.news__read-more{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    text-decoration-line: underline;
    color: #e6e6e6;
}
.merch__top{
    margin-bottom: 40px;
}
.merch__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    text-decoration-line: underline;

    color: #e6e6e6;
}
.merch__list{
    gap: 20px;
}
.merch__right{
    gap: 20px;
}
.merch__item{
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.merch__content{
    position: absolute;
    left: 40px;
    bottom: 45px;
}
.merch__content h3{
    font-family: Archivo, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
    text-align: left;
    color: #fff;
}
.merch__content p{
    font-family: Archivo, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.4;
    text-align: left;
    color: #fff;
}
.contact__left{
    max-width: 650px;
    width: 100%;
    position: relative;
}
.contact__left img{
    position: absolute;
    bottom: 40px;
}
.contact__right{
    max-width: calc(100% - 700px);
    padding-top: 80px;
}
.contact__content{
    gap: 50px;
    min-height: 638px;
}
.contact{
    background: #15171B;
    padding-top: 0;
    margin-top: 150px;
}
.contact__text{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 30px;
    color: #c4c4c4;
}
.contact__info h3{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;

    color: #6d6d6d;
}
.contact__info a.email{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    text-decoration-line: underline;
    color: #c4c4c4;
}

.contact__info{
    gap: 40px;
}
.contact__info a.phone{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    text-align: left;

    color: #c4c4c4;
}
.contact__info a.phone span{
    color: #A3A3A3;
}
.contact__right .btn__white{
    margin-top: auto;
    margin-bottom: 105px;
}
footer{
    padding-top: 40px;
    padding-bottom: 30px;
}
.footer__bottom{
    padding-top: 20px;
    border-top: 1px solid #fff;
    opacity: 0.3;
    margin-top: 34px;
}
.footer__bottom a{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    text-decoration-line: underline;

    color: #a3a3a3;

}
.footer__menu{
    height: 53px;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    gap: 9px 70px;
    justify-content: flex-start;
}
.footer__menu .menu__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    min-width: 79px;
    color: #c4c4c4;
    display: flex;
}
.footer__menu .menu__item:nth-child(2), .footer__menu .menu__item:nth-child(6){
    min-width: 92px;
}
.footer__socials{
    gap: 20px;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.footer__link{
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #c4c4c4;

}
.footer__link--email{
    text-decoration-line: underline;
    margin-bottom: 5px;
}

.btn__menu{
    display: none;
}