@media screen and (min-width: 1440px){
    .gallery{
        max-width: 1440px;
        margin: 0 auto;

    }
}
@media screen and (max-width: 1440px){

}
@media screen and (max-width: 1340px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .banner__right{
        max-width: calc(100% - 731px);
        width: 100%;
    }
    .about__left{
        max-width: 650px;
    }
    .about__right{
        max-width:calc(100% - 700px);
    }
}
@media screen and (max-width: 1240px){
    .banner__left{
        max-width: 600px;
        padding-top: 0;
    }
    .banner__right{
        max-width: calc(100% - 600px);
    }
}
@media screen and (max-width: 1100px){

    .about__left {
        max-width: 500px;
    }
    .about__right{
        max-width:calc(100% - 550px);
    }
    .tradition__item img{
        bottom: -60px;
    }
    .commander__left{
        width: 500px;
    }
    .commander__right {
        width: calc(100% - 550px);
    }
    .socials__left{
        max-width: 500px;
    }
    .socials__content{
        padding-bottom: 50px;
    }
    .socials__right{
        right: 0;
    }
    .contact__left{
        max-width: 500px;
    }
    .contact__right{
        max-width: calc(100% - 550px);
    }
    .contact__left img{
        height: 100%;
        object-fit: cover;
    }
    .menu__link{
        font-size: 18px;
    }
    .header__logo{
        width: 120px;
    }
    .menu{
        margin-left: 165px;
    }
    .banner__title{
        font-size: 48px;
    }
    .banner .btn__white{
        width: 250px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .btn__outline{
        width: 250px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .banner__right {
        max-width: calc(100% - 500px);
    }
}
@media screen and (max-width: 1024px){
    .menu{
        display: none;
    }
    .btn__menu{
        display: flex;
        margin-left: auto;
    }
    .header__socials{
        margin-left: 20px;
    }
    .btn__menu svg{
        width: 40px;
        height: 40px;
    }
    .btn__menu svg path{
        stroke: #A3A3A3;
    }
    .menu.active{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        width: 100%;
        top: 100px;
        margin-left: 0;
        background: #0e0f11;
        z-index: 1;
        height: 100%;
        padding-top: 50px;
    }
    header.active{
        position: fixed;
        z-index: 1;
    }
    body.no-scroll{
        overflow: hidden;
    }
    .header__logo{
        z-index: 2 ;
    }
    header     .menu__link {
        font-size: 20px;
    }
    .section__title{
        font-size: 38px;
    }
    .tradition__item{
        height: 350px;
        padding: 30px 20px;
    }
    .become__title{
        text-align: center;
    }
    .become__item{
        padding-left: 10px;
        padding-right: 10px;
    }
    .socials__right{
        max-width: 400px;
    }
    .socials__left{
        max-width: calc(100% - 400px);
    }
    .footer__menu{
        gap: 10px 50px;
    }
}
@media screen and (max-width: 900px){
    .banner{
        padding-top: 80px;
        height: calc(100vh - 100px)   ;
    }
    .banner__title {
        font-size: 32px;
    }
    .banner__text{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .banner__content{
        flex-direction: column;
    }
    .banner__right{
        position: relative;
        right: auto;
        bottom: auto;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner__right img{
        width: 100%;
        height: 300px;
    }
    .banner__left{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding-bottom: 30px;
    }
    .btn__white{
        height: 50px;
    }
    .btn__outline{
        height: 50px;
    }
    .btn{
        font-size: 16px;
    }
    .status__list{
        flex-wrap: wrap;
    }
    .status__item{
        width: 100%;
        padding: 40px 20px;
    }
    section, .status, .about{
        padding-top: 80px;
    }
    .about__content{
        flex-direction: column;
    }
    .about__left{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .about__left img{
        max-width: 500px;
        width: 100%;
    }
    .about__right{
        max-width: 100%;
    }
    .tradition__list{
        flex-wrap: wrap;
        gap: 150px 20px;
        justify-content: center;
    }
    .tradition__item{
        width: calc(100%/2 - 10px);
    }
    .tradition__item img {
        bottom: unset;
        margin-top: 40px;
        position: relative;

    }
    .commander__content{
        flex-direction: column;
    }
    .commander__left{
        width: 100%;
        position: relative;
    }
    .commander__right{
        width: 100%;
        padding-left: 40px;
    }
    .commander__left img {
        position: relative;
        left: -40px;
    }
    .directions{
        padding-top: 80px;
    }
    .direction__item{
        width: calc(100%/2 - 10px);
    }
    .socials__content{
        flex-direction: column-reverse;
    }
    .socials__right{
        position: relative;
        bottom: unset;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
    .socials__content{
        background: transparent;
        padding: 0;
    }
    .socials__left {
        background: #1C1F26;
        border-radius: 8px;
        padding: 70px 54px 70px 70px;
        max-width: 100%;
    }
    .news__list{
        flex-wrap: wrap;
    }
    .new__item{
        width: calc(100%/2 - 10px);
        overflow: hidden;
        border-radius: 8px;
    }
    .contact__content{
        flex-direction: column;
        gap: 0;
    }
    .contact__left{
        width: 100%;
    }
    .contact__left img {
        position: relative;
        bottom: 40px;
    }
    .contact__right{
        max-width: 100%;
        padding-top: 10px;
    }
    .contact__right .btn__white{
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .footer__top{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer__menu{
        justify-content: center;
    }
    .footer__right{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer__bottom{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
@media screen and (max-width: 768px){
.banner__right{
    align-items: flex-end;
}
    .banner__right img{
        height: 250px;

    }
    .section__actions .btn__white{
        font-size: 18px;
    }
    .merch__content h3{
        font-size: 32px;
    }
    .merch__content p{
        font-size: 24px;
    }
    .section__actions{
        flex-direction: column;
        justify-content: center;
    }
    .section__actions .btn__white:last-child {
        width: 247px;
    }
}
@media screen and (max-width: 600px){
    .banner__actions{
        flex-direction: column;
    }
    .banner__right{
        display: none;
    }
    .banner__title{
        text-align: center;
    }
    .banner__text{
        text-align: center;
    }
    .tradition__item{
        width: 100%;
        background-size: 100% 100%;
    }
    .direction__item{
        height: 350px;
    }
    .directions .section__text{
        font-size: 18px;
    }
    .direction__title{
        font-size: 20px;
    }
    .become__list{
        flex-wrap: wrap;
    }
    .become__item{
        width: calc(100%/2 - 10px);
    }
    .socials{
        padding-top: 80px;
    }
    .socials__right img{
        width: 300px;
    }
    .socials__left{
        padding: 40px 20px;
    }
    .news__img{
        height: 250px;
    }
    .news__bottom{
        flex-direction: column;
    }
    .new__item{
        width: 100%;
    }
    .news__img img{
        width: 100%;
    }
    .merch__top{
        flex-direction: column;
        gap: 20px;
    }
    .merch__link{
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    .section__title {
        font-size: 28px;
    }

    .commander__content {
        width: 100%;
    }

    .commander__left img {
        left: -20px;
    }

    .commander__content {
        padding-right: 20px;
    }

    .direction__item {
        width: 100%;
    }

    .become__title {
        font-size: 14px;
    }

    .become__item {
        width: 100%;
    }

    .section__actions .btn__white:first-child, .section__actions .btn__white:last-child {
        width: 100%;
        height: 50px;
    }
    .merch__list{
        flex-direction: column;
    }
    .footer__menu{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .contact__right .btn__white, .about__right .btn__white, .banner .btn__white, .btn__outline{
        width: 100%;
    }
    .banner__actions{
        width: 100%;
    }
    .header__socials{
        display: none;
    }
    .footer__menu .menu__link{
        width: 100%;
        min-width: unset;
        font-size: 14px;

    }
    .menu.active{
        gap: 20px;
    }
    .footer__menu .menu__item:nth-child(2), .footer__menu .menu__item:nth-child(6) {
        min-width: unset;
    }
}